name: Deploy Web to Beta Server

on:
  push:
    branches:
      - beta-staging


env:
  REGISTRY: ghcr.io
  IMAGE_NAME: btk-front-end
  GHCR_IMAGE: ghcr.io/thera-data-solution/btk-front-end:latest

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Enable pnpm
        run: corepack enable

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build Vite
        run: pnpm build

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile
          push: true
          tags: ${{ env.GHCR_IMAGE }}

  deploy-beta:
    runs-on: ubuntu-latest
    needs: build-and-push
    environment: beta
    steps:
      - name: Deploy to beta server
        uses: appleboy/ssh-action@v1.1.0
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_SECRET }}
          script: |
            cd frontend-erp
            docker compose pull
            docker compose up -d